<label class="logo"><%= link_to "", root_url %></label>

<main class="main">
	<section class="content group">
		<section class="signin-block group">
			<section class="main-signin">
				<h2 class="signin-title">Sign In</h2>
					Not a member? <%= link_to "Create an account free", new_user_url %>
				<form action=" <%=session_url %>" method="post">
				  <%= auth_token_input %>

					<div class="input-block">
					  <label>Email Address<br />
					    <input class="input-field" type="text" name="user[email]" value="" />
					  </label>
					  <label>Password<br />
					    <input class="input-field" type="password" name="user[password]" value="" />
					  </label>
					</div>


				  <input class="signin-button" type="submit" value="Sign In" />


				</form>
			</section>
			<section class="facebook-signin">
				<button class="facebook-button">Sign in with Facebook</button>

			</section>
		</section>

	</section>
</main>
