<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to undeed.com, <%= @user.name %></h1>
    <p>
      You have successfully applied,
    </p>
  </body>
</html>
