.dropdown-location{
	position:absolute;
	border: 1px solid black;
	background: white;
	cursor: pointer;
	width:355px;
	font-weight:bold;
}
.dropdown-location-list{
		color:#9c9c9c;
	display: block;
	padding: 3px 5px;
	font-decoration: normal;
}
.dropdown-location-list:hover {
	background: blue;
	color: white !important;

}

.boldItem {
	font-decoration: bold;
	color:black;
}
.dropdown-location-list:hover .boldItem{
	color:white;
}
