.fontpage-content {
  margin: 0 auto;
  width: 700px;
}

.logomain{
	display: block;
	background-image: asset-url("logomain.png");
  background-size:contain;
	width: 250px;
	height:109px;
	// border: 1px solid black;
}
