.job-detail-search-bar{
  width:900px;
  display: block;
  padding: 5px;
}
.job-detail-logo-link{
  float: left;
  // display: block;
  width: 190px;
  z-index: 2;
}
.linklink{
  float:left;
  display:block;
  width:200px;
}
.job-detail-search-bar-search{
  float: right;
	position: relative;
	padding: 5px 0 20px 0;
	width: 700px;
  font-size: 18px;
}
.link{
  float:left;
}
.job-detail-content {
	background: #FEF9E7;
	margin: 0 205px;
	width: 625px;
	padding: 20px;
}
.job-detail-header {
  margin-bottom: 20px;
}
.job-detail-detail {
  margin-bottom: 20px;
}
.job-detail-detail br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 1.2em !important;
}
.job-detail-apply{
  display: inline-block ;
  height: 31px ;
  padding-top: 0px ;
  padding-right: 12px ;
  padding-bottom: 0px ;
  padding-left: 12px ;
  border-radius: 6px ;
  background: orange;
  border: 1px solid black;
  font: 200 18px/31px 'Helvetica Neue','Helvetica',Arial ;
  text-align: center ;
  text-decoration: none ;
  text-shadow: 0px -1px #000000;
  color: white;
}
.job-detail-apply:hover{
  background:#fdbb78;
}
.application-content {
  float:left;
  height: 100%;
  background: lightgray;
  width: 70%;
}
.application-logo {
  float:left;
  display: block;
  margin: 175px auto;
  width: 30%;
}
.application-innercontent{
  padding: 20px;

}
.application-title {
  font-size: 20px;
  font-weight: bold;
}
.application-input{
	background: white;
	display: block;
	width:100px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
}
.application-input-field{
  vertical-align: top;
	background: white;
	display: block;
	width:370px;
  height:250px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
}


.app-button{
	align-items: flex-start;
	text-align: center;
	color: white;
	cursor: pointer;
	background-color: blue;
	box-sizing: border-box;
	padding: 6px 9px;
	// border: 2px outset buttonface;
	display: block;
	margin: 5px 0px;
  font-size: 15px;
  float: left;
}
.app-button:hover{
  background-color: #6599F3;
}
.app-cancel{
  cursor: pointer;
	margin: 5px 0px;
	padding: 6px 9px;
}
