.search-bar{
  width:1000px;
  display: block;
  padding: 5px;
}
.logo-link{
  float: left;
  display: block;
  width: 275px;
}
.search-bar-search{
  float: left;
	position: relative;
	padding: 5px 0 20px 0;
	margin: 0 auto;
	width: 700px;
  font-size: 18px;
}
.search-results{
	background: #FEF9E7;
	margin: 0 280px;
	width: 650px;
	padding: 20px;

}

.react-paginate ul {
    display: block;
    margin: 0 auto;
    width: 800px;
    padding-left: 15px;
    padding-right: 15px;
}

.react-paginate li {
    float: left;
}

.react-paginate a {
    background: lightyellow;
    padding: 20px;
    display: block;
    cursor: pointer;
}
.react-paginate a:hover{
  background: lightblue;
}
.fontpage-jobcount{
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: left;
}
