.search-bar{
  width:1000px;
  display: block;
  padding: 5px;
}
.logo-link{
  float: left;
  display: block;
  width: 275px;
}
.search-bar-search{
  float: left;
	position: relative;
	padding: 5px 0 20px 0;
	margin: 0 auto;
	width: 700px;
  font-size: 18px;
}
.search-results{
	background: #FEF9E7;
	margin: 0 280px;
	width: 650px;
	padding: 20px;
}
