.job-detail-search-bar{
  width:900px;
  display: block;
  padding: 5px;
}
.job-detail-logo-link{
  float: left;
  // display: block;
  width: 190px;
  z-index: 2;
}
.linklink{
  float:left;
  display:block;
  width:200px;
}
.job-detail-search-bar-search{
  float: right;
	position: relative;
	padding: 5px 0 20px 0;
	width: 700px;
  font-size: 18px;
}
.link{
  float:left;
}
.job-detail-content {
	background: #FEF9E7;
	margin: 0 205px;
	width: 625px;
	padding: 20px;
}
.job-detail-header {
  margin-bottom: 20px;
}
.job-detail-detail {
  margin-bottom: 20px;
}
.job-detail-apply{
  display: inline-block ;
  height: 31px ;
  padding-top: 0px ;
  padding-right: 12px ;
  padding-bottom: 0px ;
  padding-left: 12px ;
  border-radius: 6px ;
  background: orange;
  border: 1px solid black;
  font: 200 18px/31px 'Helvetica Neue','Helvetica',Arial ;
  text-align: center ;
  text-decoration: none ;
  text-shadow: 0px -1px #000000;
  color: white;
}
.job-detail-apply:hover{
  background:#fdbb78;
}
.application-content {
  float:left;
  height: 100%;
  background: lightgray;
  width: 80%;
}
.application-logo {
  float:left;
  width: 20%;
  min-width:200px;
}
