.job-detail-search-bar{
  width:900px;
  display: block;
  padding: 5px;
}
.job-detail-logo-link{
  float: left;
  // display: block;
  width: 190px;
  z-index: 2;
}
.linklink{
  float:left;
  display:block;
  width:200px;
}
.job-detail-search-bar-search{
  float: right;
	position: relative;
	padding: 5px 0 20px 0;
	width: 700px;
  font-size: 18px;
}
.link{
  float:left;
}
.job-detail-content {
	background: #FEF9E7;
	margin: 0 205px;
	width: 625px;
	padding: 20px;
}
.job-detail-header {
  margin-bottom: 20px;
}
.job-detail-detail {
  margin-bottom: 20px;
}
