.myjob-main {
  margin: 0 auto;
  width: 1160px;
}
.myjob-sidebar{
  float:left;
  width: 300px;
}

.myjob-content{
  float:left;
  width: 800px;
}
.myjob-sidebar ul{

  padding: 30px 10px;
  margin-left: 30px;
}
.myjob-sidebar ul h2{
  font-size: 20px;
  margin-bottom:20px;
}
.myjob-sidebar li{
  font-size: 16px;
  padding: 10px 0px;
}
.myjob-title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px;
}
.myjob-job-section {
  font-size: 16px;
  padding: 15px 0 15px 0px;
  border-bottom: 1px solid lightgray;
}
.myjob-job{
  float:left;
  width: 300px;
  padding: 3px 0 3px 0px;

}
.myjob-options{
  position:relative;
  width: 200px;
  float:left;
	display: block;
}


.myjobs-button{
  width:300px;
  position: relative;
}
.myjob-optionbutton{
  // float:left;
  color:white;
  text-align:center;
  width: 200px;
  padding: 6px 0px 6px 12px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #6598fe, #3c69e0);
  cursor: pointer;
  border: 1px solid black;
}
.myjob-optionbutton:active {
  background-image: linear-gradient(to bottom, #204d74, #204d74);
}
.myjob-dropdown{
  // float:left;
  position: absolute;
  top:0px;
  left:210px;
  color:white;
  text-align:center;
  width: 15px;
  padding: 6px 12px;
  border-top-right-radius : 4px;
  border-bottom-right-radius : 4px;
  background-image: linear-gradient(to bottom, #6598fe, #3c69e0);
  cursor: pointer;
  border: 1px solid black;
}
.myjob-dropdown:active{
  background-image: linear-gradient(to bottom, #204d74, #204d74);
}

.myjobs-option ul li:hover{
  background:lightgray;
}
.myjobs-option ul li{
  padding: 8px 30px;
}
.option-hide{
  padding: 5px;
  display: none;
  position: absolute;
}


.option-show{
  width: 230px;
  cursor: pointer;
  position: absolute;
  padding: 10px 0px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  border-radius: 4px;
  z-index: 2;
}
