// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo{
	color: red;
	font-size: 20px;
	display: block;
	background-image: asset-url("logo.png");
  background-size:contain;
	width: 150px;
	height:62px;
	border: 1px solid black;
}
