// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, header, nav, h1,h3, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, main{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}
body {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 13.3333px;
  line-height: 1.1666666666;
  background: white;
  color: #000;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* --- CLEARFIX --- */
.group:after {
  content: "";
  clear: both;
  display: block;
}

a {
	color: #00c;
	text-decoration: underline
}

.logo{
	// display: block;
	background-image: asset-url("logo.png");
  background-size:contain;
	width: 175px;
	height:72px;
	margin-left: 10px;
	// border: 1px solid black;
}
.logomain{
	display: block;
	background-image: asset-url("logomain.png");
  background-size:contain;
	width: 250px;
	height:109px;
	// border: 1px solid black;
}

.job-index-item{
	margin-top: 20px;
}
.job-index-item-title{
	color: #00c;
	font-size:16px;
	font-weight:bold;
	margin-top: 20px;
}
.job-detail-title{
	color: black;
	font-size:16px;
	font-weight:bold;
	margin: 10px 0 10px 0;
}




























//
