// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo{
	display: block;
	background-image: asset-url("logo.png");
  background-size:contain;
	width: 175px;
	height:72px;
	// border: 1px solid black;
}
.main-content{
	background: #FEF9E7;
	margin: 0 auto;
	width: 900px;
	padding: 20px;
}
.job-index-item{
	margin-top: 20px;
}
.job-index-item-title{
	color: #00c;
	font-size:16px;
	font-weight:bold;
	margin-top: 20px;
}
.job-detail-title{
	color: black;
	font-size:16px;
	font-weight:bold;
	margin: 10px 0 10px 0;
}
