.user-header{
  float: right;
  text-decoration: underline;
  color: #00c;
  cursor: pointer;
  // background: lightblue;
}
.header-email{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.header-dropdown {
  display: block;
  // background:red;
}
// .header-email:active{
//   background:black;
// }
// .header-email:hover .header-dropdown {
//   display: block;
//   background:pink;
// }
