// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo a{
  width: 175px;
	height:72px;
	margin-bottom: 19px;
  display:block;
}
.header{
	text-transform: lowercase;
	text-align: right;
	margin: 3px 8.5px;

}

.main{
	display: block;
	height: 300px;
	background: #e0e5ff;
	padding: 15px 0 15px 0px;
	border-top: 1px solid #36c;
	border-bottom: 1px solid #36c;
}

.content{
	display: block;
	height: 300px;
	background: white;
	// border: 1px solid red;
}
.signin-block{
	margin: auto;
	width: 800px;
}
.main-signin{
	margin: 20px 0;
	float: left;
	height: 260px;
	background: white;
	// border: 1px solid red;
}
.facebook-signin{
	float: left;
	height: 260px;
	background: white;
	// border: 1px solid red;
}

.signin-title{
	font-size: 24px;
	padding: 0 12px;
}

.link-to-sign-up{
  margin: 0px 10px 5px 10px ;
  display: block;
}
.input-block{
	padding: 12px;
	background: #e0e5ff;
	width: 370px;
	height:120px;
	border-top: 2px solid #36c;
	display:block;
}

.input-field{
	background: white;
	display: block;
	width:340px;
  height: 20px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;


}

.input-field:focus{
  outline: -webkit-focus-ring-color auto 5px;
}
.signin-button{
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	background-color: buttonface;
	box-sizing: border-box;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	display: block;
	margin: 6px 12px;
}
.signin-button:active{
  text-align: center;
  cursor: default;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  border: 2px outset;
  display: block;
  margin: 6px 12px;
}

.addmargin{
  margin-top: 10px;
}

.facebook-signin{
	text-align: left;
  margin-top: 30px;
	padding:20px;
  height: 100px;

}

.signinlogo{
  display: block;
  width: 275px;
}

.pdf-view{
  width:900px;
  height:1200px
}


.app-pdf-view{
    width:600px;
    height:800px
}


.user-form-input-field{
	background: white;
	display: block;
	width:200px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
}



.user-form-input-field-file{
	display: block;
	margin-bottom: 10px;
}

.user-form-upload-button{
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	background-color: buttonface;
	box-sizing: border-box;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	display: block;
	margin: 6px 0;
}
.preview-resume{
  border-style: none;
  width: 50%;
  height: 900px;
}

.facebook-button{
  text-decoration: none;
  background: blue;
  color: white;
}

.signup-input-block{
	padding: 12px;
	background: #e0e5ff;
	width: 370px;
	height:150px;
	border-top: 2px solid #36c;
	display:block;
}

.header-links{
  display: block;
}
.header-links-hide{
  display: block;
}
  .go-left{

  }
  .go-right{

  }
@media only screen and (max-width: 700px){
	.fontpage-content{

		box-sizing:border-box;
		width:100%;
	}
	.what-field{
		box-sizing:border-box;
		display: block;
		width: 100%;
	}
	.searchfield-where{
		box-sizing:border-box;
		display: block;
		width: 100%;
	}
	.searchfield-what{
		box-sizing:border-box;
		display: block;
		width: 100%;
	}
	.where-field{
		display: block;
		width: 100%;
	}
	.search-button{
		box-sizing:border-box;
		display: block;
		text-align: center;
		width: 100%;
	}

  .frontpage-text{
    color:red;
  }
  .fontpage-jobcount{
    width: 80%;
  }
	.find-header{
		background:green;
		margin:0px;
		width:50%;
	}
	.the-header{
		padding: 0;
		background: red;
	}
	.user-header{
		margin:0px;
		width:50%;
	}
	.user-email{
    text-align:right;
		margin:0px;
		width:100%;
	}
	.header-email{
    text-align: center;
	  float: right;
		width:100%;
		margin: 0px;
	  color: blue;
    background: orange;
	  cursor: pointer;
    text-decoration: none;
	}
	.header-email a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
	}
	.header-email a:hover{
    display: block;
    padding: 10px;
		background: blue;
	}


  .header-links{
    display: block;
  }
  .header-links-hide{
    display: none;
  }


  .user-hide{
    display: none;
  }
  .go-left{
    float:left;
    padding: 0px;
    width:50%;
  }
  .go-right{
    float:right;
    padding: 0px;
    width:50%;
  }
  .go-left a{
    display:block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .go-right a{
    display:block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .go-left a:hover{
      display: block;
      padding: 10px;
  		background: blue;
      color: #FFFFFF;
  }
  .go-right a:hover{
      display: block;
      padding: 10px;
  		background: blue;
      color: #FFFFFF;
  }
  .user-show{
    box-sizing:border-box;
    border: 0px;
    padding: 0px;
    text-align: center;
    float: right;
    width:100%;
    margin: 0px;
    color: #FFFFFF;
    background: orange;
    cursor: pointer;
    text-decoration: none;
    position: static;
  }
}






//
