.user-header{
  float: right;
  text-decoration: underline;
  color: #00c;
  cursor: pointer;
  // background: lightblue;
}
.header-email{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.header-dropdown li {
  display: block;
  cursor: pointer;
  position: relative;
  // background:red;
}
// .header-email:active{
//   background:black;
// }
// .header-email:hover .header-dropdown {
//   display: block;
//   background:pink;
// }
.user-hide{
  display: none;
  padding: 5px;
  position: absolute;
}


.user-show{
    padding: 5px;
  position: absolute;
  display:block;
  background: white;
  border: 1px solid black;
  z-index: 2;
}
