.user-header{
  float: right;
  text-decoration: underline;
  color: #00c;
  cursor: pointer;
  // background: lightblue;
}

.user-email{
  float: right;
  text-decoration: underline;
  color: #00c;
  cursor: pointer;
  // background: lightblue;
}
.find-header{
  float: left;
  text-decoration: underline;
  color: #00c;
  cursor: pointer;
  margin-right: 15px;
  // background: lightblue;
}
.the-header{
    padding: 10px;
    display: block;
    border-bottom: 1px solid lightgray;
}
.header-email{
  float: left;
  margin-left: 10px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.header-dropdown li {
  display: block;
  cursor: pointer;
  position: relative;
}

.user-hide{
  display: none;
  padding: 5px;
  position: absolute;
}


.user-show{
  position: absolute;
  top: 30px;
  right: 10px;
  display:block;
  background: white;
  padding: 10px 30px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  z-index: 2;
}
.pointer{
  padding-left: 10px;
  cursor:pointer;
}
